# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
.env
venv/
env/
ENV/

# Virtual Environment
# Указываем конкретные папки в проекте
backend/venv/
frontend/venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
/commit.bat
/commit.ps1
/do_commit.bat
/*.bat
/*.ps1
